body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #4a90e2;
}

.note {
    background-color: #FFD700;
    color: #000;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
}

.input-section {
    margin-bottom: 30px;
}

.input-section label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.input-section select,
.input-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #444;
    color: white;
}

.input-section button {
    width: 100%;
    padding: 12px;
    background-color: #4a90e2;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 20px;
}

.results-section {
    margin-top: 30px;
    display: none;
}

.result-highlight {
    background-color: #4a90e2;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.result-highlight h2 {
    margin-bottom: 10px;
}

#capitalFinalElement {
    font-size: 24px;
    color: #FFD700; /* Destaca en dorado */
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

#mensajeEstrategiaElement {
    font-size: 16px;
    color: #4a90e2;
    margin-top: 10px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #4a90e2;
    color: white;
}

.capital-propio {
    background-color: #d0e7ff;
}

.aporte-mensual {
    background-color: #ffe4b5;
}

.plus-symbol {
    color: green;
    font-weight: bold;
}

#botonDuplicarTiempo {
    width: 100%;
    padding: 12px;
    background-color: #4a90e2;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
}

.linha-separadora {
    border-top: 2px solid #4A90E2;
    margin-top: 20px;
}
